@import '_variables.css';
@import '_global.css';
@import '_tab-bar.css';
@import '_navigation-bar.css';
@import '_bookmarks-bar.css';
@import '_find-bar.css';
@import '_side-bar.css';
@import '_menu.css';
@import "custom/_megabar-disable.css";

@import 'sslcolor.css';

#tabbrowser-tabs, #tabbrowser-tabs arrowscrollbox { min-height: 0 !important; }
#tabbrowser-tabs tab { height: var(--tab-min-height); }
#tabbrowser-tabs tab:first-of-type:last-of-type { display: none !important; }
#tabs-newtab-button { visibility: collapse !important; }